<div class="parts__search--row">
    <div class="parts__search--tab">
        <!-- tab sections  -->
        <div class="section__tabcontainer">
            <div class="section__tabrow">
                <div class="section__tabs-nav">
                    <ul>
                        <li><a href="/advanced-search.html" id="tab1">cars</a></li>
                        <li class="section__tabs-navactive"><a id="tab2">parts</a></li>
                    </ul>
                </div>
                <div class="section__tabs__search">
                    <div class="section__search--input">
                        <input type="text" placeholder="Search parts and accessories">
                        <span class="placeholder">eg. brake parts or engine parts</span>
                    </div>
                    <div class="section__search--button">
                        <button>search</button>
                    </div>
                </div>
                <div class="search__container">
                    <div class="search__container--wrap">
                        <ul>
                            <li><a href=""><span>Toy</span>ota Land Cruiser</a></li>
                            <li><a href=""><span>Toy</span>ota Prado</a></li>
                            <li><a href=""><span>Toy</span>ota FJ Cruiser</a></li>
                            <li><a href=""><span>Toy</span>ota Corolla</a></li>
                        </ul>
                    </div>
                </div>
                <section class="section__tabs-content parts__search--content">
                    <div class="parts__search--head">
                        <div class="parts__search--title">
                            Oil & Lubricants
                        </div>
                        <div class="explore__vehicle-__dropdown">
                            <label for="" class="label__sort">sort</label>
                            <div class="explore__dropdown">
                                <a href="#" class="explore__dropdown--title">Featured
                                    <span class="explore__dropdown__chevron"><img src="./images/chevron.png"
                                            alt=""></span>
                                </a>
                                <div class="explore__dropdowncontent explore__dropdown-menu">
                                    <ul>
                                        <li><a href="#">Featured</a></li>
                                        <li><a href="#">Brand A-Z</a></li>
                                        <li><a href="#">Brand Z-A</a></li>
                                        <li><a href="#">Year High to Low</a></li>
                                        <li><a href="#">Year Low to High</a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="parts__search--body">
                        <div class="parts__search--bodyContainer">
                            <div class="prts__search--flex">
                                <div class="parts__list">
                                    <div class="parts__single">
                                        <div class="parts__image">
                                            <img src="images/parts1.png" alt="">
                                        </div>
                                        <div class="parts__content--details">
                                            <h6>OEM Brand</h6>
                                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                                            <span class="parts__price">Please request for price</span>
                                            <button class="btn">see details</button>
                                        </div>
                                    </div>
                                    <div class="parts__single">
                                        <div class="parts__image">
                                            <img src="images/parts2.png" alt="">
                                        </div>
                                        <div class="parts__content--details">
                                            <h6>OEM Brand</h6>
                                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                                            <span class="parts__price">Please request for price</span>
                                            <button class="btn">see details</button>
                                        </div>
                                    </div>
                                    <div class="parts__single">
                                        <div class="parts__image">
                                            <img src="images/parts1.png" alt="">
                                        </div>
                                        <div class="parts__content--details">
                                            <h6>OEM Brand</h6>
                                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                                            <span class="parts__price">Please request for price</span>
                                            <button class="btn">see details</button>
                                        </div>
                                    </div>
                                    <div class="parts__single">
                                        <div class="parts__image">
                                            <img src="images/parts1.png" alt="">
                                        </div>
                                        <div class="parts__content--details">
                                            <h6>OEM Brand</h6>
                                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                                            <span class="parts__price">Please request for price</span>
                                            <button class="btn">see details</button>
                                        </div>
                                    </div>
                                    <div class="parts__single">
                                        <div class="parts__image">
                                            <img src="images/parts1.png" alt="">
                                        </div>
                                        <div class="parts__content--details">
                                            <h6>OEM Brand</h6>
                                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                                            <span class="parts__price">Please request for price</span>
                                            <button class="btn">see details</button>
                                        </div>
                                    </div>
                                    <div class="parts__single">
                                        <div class="parts__image">
                                            <img src="images/parts1.png" alt="">
                                        </div>
                                        <div class="parts__content--details">
                                            <h6>OEM Brand</h6>
                                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                                            <span class="parts__price">Please request for price</span>
                                            <button class="btn">see details</button>
                                        </div>
                                    </div>
                                    <div class="parts__single">
                                        <div class="parts__image">
                                            <img src="images/parts1.png" alt="">
                                        </div>
                                        <div class="parts__content--details">
                                            <h6>OEM Brand</h6>
                                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                                            <span class="parts__price">Please request for price</span>
                                            <button class="btn">see details</button>
                                        </div>
                                    </div>
                                    <div class="parts__single">
                                        <div class="parts__image">
                                            <img src="images/parts1.png" alt="">
                                        </div>
                                        <div class="parts__content--details">
                                            <h6>OEM Brand</h6>
                                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                                            <span class="parts__price">Please request for price</span>
                                            <button class="btn">see details</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>