<div class="inquireparts__row">
    <div class="main-title">
        <h2>your selection</h2>
    </div>
    <div class="inquireparts__flex clearfix">
        <div class="inquireparts__image--section">
            <div class="inquireparts__image">
                <img src="images/inquire-parts.png" alt="inquire">
            </div>
            <div class="inquireparts__details clearfix">
                <h4>OEM Brand</h4>
                <div class="inquireparts__specs">
                    <div class="inquireparts__specs--left">
                        Oil & Lubricants
                    </div>
                    <div class="inquireparts__specs--right">
                        <span>Origijin: Japan</span>
                        <span>Brand Fitment: Toyota</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="inquireparts__form">
            <form action="" id="inquireparts__form">
                <div class="inquireparts__form--input">
                    <label for="quantity">quantity</label>
                    <input type="text" id="quantity" name="quantity" value="" class="inquireparts__form--class">                   
                    <span class="errorvalidn">Please enter numbers</span>
                </div>
                <div class="inquireparts__form--input">
                    <label for="country">destination country</label>
                    <input type="text" id="country" name="country" value="" class="inquireparts__form--class">                   
                </div>
                <div class="inquireparts__form--input">
                    <label for="name">full name*</label>
                    <input type="text" id="name" name="name" value="" class="inquireparts__form--class">                   
                    <span class="errorvalidn">Please enter alphabets</span>
                </div>
                <div class="inquireparts__form--input">
                    <label for="email">email address</label>
                    <input type="text" id="email" name="email" value="" class="inquireparts__form--class">                   
                    <span class="errorvalidn">Please enter valid email</span>
                </div>
                <div class="inquireparts__form--input">
                    <label for="phone">phone number*</label>
                    <input type="text" id="phone" name="phone" value="" class="inquireparts__form--class">                   
                </div>
                <div class="inquireparts__form--input">
                    <label for="message">phone number</label>
                    <textarea name="message" id="" cols="30" rows="10"></textarea>                 
                </div>
                <input id="inquire-parts" type="submit" value="submit" class="btn btn-orange btn-outline">
                
            </form>
        </div>
    </div>
</div>