<div class="inquire__row">
    <div class="main-title">
        <h2>your selection</h2>
    </div>
    <div class="inquire__flex clearfix">
        <div class="inquire__image--section">
            <div class="inquire__image">
                <img src="images/inquire__image.png" alt="inquire">
            </div>
            <div class="inquire__details clearfix">
                <h4>Toyota Prado</h4>
                <div class="inquire__specs">
                    <div class="inquire__specs--left">
                        platinum
                    </div>
                    <div class="inquire__specs--right">
                        <span>2023</span>
                        <span>0km</span>
                        <span>GCC</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="inquire__form">
            <form action="" id="inquire__form">
                <div class="inquire__form--input">
                    <label for="quantity">quantity</label>
                    <input type="text" id="vehiclequantity" name="quantity" value="" class="inquire__form--class">                   
                </div>
                <div class="inquire__form--input">
                    <label for="country">destination country</label>
                    <input type="text" id="vehiclecountry" name="country" value="" class="inquire__form--class">                   
                </div>
                <div class="inquire__form--input">
                    <label for="name">full name*</label>
                    <input type="text" id="vehiclename" name="name" value="" class="inquire__form--class">                   
                </div>
                <div class="inquire__form--input">
                    <label for="email">email address</label>
                    <input type="text" id="vehicleemail" name="email" value="" class="inquire__form--class">                   
                </div>
                <div class="inquire__form--input">
                    <label for="phone">phone number*</label>
                    <input type="text" id="vehiclephone" name="phone" value="" class="inquire__form--class">                   
                </div>
                <div class="inquire__form--input">
                    <label for="message">phone number</label>
                    <textarea name="message" id="" cols="30" rows="10"></textarea>                 
                </div>
                <input id="inquire-vehicles" type="submit" value="submit" class="btn btn-orange btn-outline">
                
            </form>
        </div>
    </div>
</div>