<!-- footer starts  -->
<footer>
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__contact__row">
                <div class="footer__phone">
                    <img src="./images/phone.png" alt="" loading="lazy">
                    <span>600 540045</span>
                </div>
                <div class="footer__social">
                    <h6>Follow us</h6>
                    <div class="footer__social__icons">
                        <a href=""> <img src="./images/fb.png" alt="" loading="lazy"></a>
                        <a href=""> <img src="./images/in.png" alt="" loading="lazy"></a>
                        <a href=""> <img src="./images/tw.png" alt="" loading="lazy"></a>
                        <a href=""> <img src="./images/ln.png" alt="" loading="lazy"  ></a>
                    </div>
                </div>
            </div>
            <div class="footer__links">
                <a href="/about_us.html"> about us</a>
                <a href="/contact_us.html"> contact us</a>
                <a href="/locations.html">locations</a>
                <a href="/blogs.html">blogs</a>
                <a href="/offers.html">offers</a>
            </div>
            <div class="footer__vehicles">
                <div class="footer__vehicle__title">
                    vehicles <span class="footer__dropdown"><img src="./images/down_chevron.png" alt="" loading="lazy"></span>
                </div>
                <div class="footer__links__flex">
                    <a href="">toyota</a>
                    <a href="">nissan</a>
                    <a href="">hyundai</a>
                    <a href="">lexus</a>
                    <a href="">opel</a>
                    <a href="">volkswagen</a>
                    <a href="">suzuki</a>
                    <a href="">infiniti</a>
                </div>
            </div>
            <div class="footer__vehicles--parts">
                <div class="footer__vehicle__title">
                    Parts and Accessories<span class="footer__dropdown"><img src="./images/down_chevron.png" alt=""></span>
                </div>
                <div class="footer__links__flex">
                    <a href="">Oil&Lubricants</a>
                    <a href="">Body parts</a>
                    <a href="">Suspension parts</a>
                    <a href="">Brake parts</a>
                    <a href="">Engine parts</a>
                    <a href="">Other parts</a>
                </div>
            </div>
        </div>
        <div class="bottom__footer">
            <p>Al Ghurair Autotrading. All Right Reserved, 2022.</p>
            <div class="bottom__footer__links">
                <a href="/faqs.html">FAQs</a>
            </div>
            <div class="bottom__footer__links">
                <a href="/tc.html">Privacy Policy</a>
            </div>
            <div class="bottom__footer__links">
                <a href="/sitemap.html">Sitemap</a>
            </div>
        </div>
    </div>
</footer>
<!-- footer ends  -->
</main>
<!-- scripts -->
<script src="js/lib/jquery-3.3.1.min.js"></script>
<script src="js/lib/slick.min.js"></script>
<script src="js/lib/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
<script src="js/lib/jspdf.min.js"></script>
<script src="js/lib/isotope.pkgd.js"></script>
<script src="js/main.js"></script>
<script src="js/car-details.js"></script>
<script src="js/advanced-search.js"></script>
<script src="js/inquire.js"></script>
<script src="js/parts-search.js"></script>
</body>
</html>