<!-- newsletter starts  -->
<div class="newsletter__container">
    <div class="newsletter__row">
        <div class="newsletter__content">
            <div class="newsletter__title">
                Subscribe to our newsletter
            </div>
            <div class="newsletter__input">
                <div class="newsletter__inputsection">
                    <input type="text" placeholder="Enter your email here">
                    <button class="btn btn-newsletter">submit</button>
                </div>
                <p>Your address will only be used for the company news. No spam.</p>
            </div>
        </div>
    </div>
</div>