<div class="myaccount__row">
    <div class="myaccount__title">
        <h5 class="myaccount--welcometitle">welcome</h5>
        <h4 class="myaccount--subtitle">John Surname</h4>
    </div>
    <div class="myaccount__content">
        <form action="">
            <div class="myaccount__form--input">
                <label for="email">email address</label>
                <input type="text" id="email" name="email" value="" class="myaccount__form--class">                   
            </div>
            <div class="myaccount__form--input">
                <label for="phone">phone number</label>
                <input type="text" id="phone" name="phone" value="" class="myaccount__form--class">                   
            </div>
            <div class="myaccount__form--input">
                <label for="location">country</label>
                <input type="text" id="location" name="location" value="" class="myaccount__form--class">                   
            </div>
            <button type="button" class="btn btn-orange btn-outline">save changes</button>
        </form>
        <div class="myaccount__links">
            <a href="#" class="myaccount__logout">Log out</a>
            <a href="#" class="myaccount__delete">Delete my account</a>
            <a href="#" class="myaccount__unsubscribe">Unsubscribe from newsletter</a>
        </div>
    </div>
</div>