<div class="offer__wrapper">
    <div class="offer__row">
        <div class="offer__image">
            <img src="images/offers.png" alt="offer">
        </div>
        <div class="offer__position--top">
            <h5>october fest</h5>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="offer__position--bottom">
            <p>AG Auto Trading</p>
        </div>
    </div>
    <div class="contact__us--container offer-details-form">
        <div class="contact__us--row">
            <div class="main-title">
                <h3>Need further assistance?</h3>
            </div>
            <div class="contact__us--form">
                <form action="">
                    <div class="contact__form--row">
                        <div class="contact__form--input">
                            <label for="name">full name*</label>
                            <input type="text" id="name" name="name" value="" class="contact__form--class">                   
                        </div>
                        <div class="contact__form--input">
                            <label for="phone">phone number*</label>
                            <input type="text" id="phone" name="phone" value="" class="contact__form--class">                   
                        </div>
                        <div class="contact__form--input">
                            <label for="email">email address</label>
                            <input type="text" id="email" name="email" value="" class="contact__form--class">                   
                        </div>
                        <div class="contact__form--input">
                            <label for="location">location</label>
                            <input type="text" id="location" name="location" value="" class="contact__form--class">                   
                        </div>
                        <div class="contact__form--input contact__form--textarea">
                            <label for="message">Leave your message here</label>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div>
                       
                    </div>
                    <button type="button" id="contact-us-submit" class="btn btn-orange btn-outline">submit</button>
                </form>
                <div class="contact__us--details">
                    <p><span> 600 540045</span></p>
                    <p>Mon-Fri: 8.30 a.m. - 5.30 p.m.</p>
                </div>
            </div>
        </div>
    </div>
</div>