<div class="about__us__body">
    <p>Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos eligendi est illo aperiam qui
        natus animi.</p>
    <p>Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos eligendi. Lorem ipsum dolor
        sit amet. Ut dolor culpa non exercitationem nesciunt aut internos eligendi. Lorem ipsum dolor sit amet. Ut dolor
        culpa non exercitationem nesciunt aut internos eligendi.</p>
    <div class="about__team__container">
        <h6 class="subtitle">
            Meet our team
        </h6>
        <div class="about__team__image">
            <img src="images/about__us.png" alt="about us image">
        </div>
        <div class="about__team__member">
            <div class="about__team__member--wrap">
                <div class="single__member">
                    <div class="single__member--wrap">
                        <div class="member__head">
                            <div class="member__image">
                                <img src="images/ellipse.png" alt="member">
                            </div>
                            <div class="member__details">
                                <h5>john doe</h5>
                                <div class="designation">
                                    Trading Specialists
                                </div>
                            </div>
                        </div>
                        <div class="member__contactdetails">
                            <div class="member__email">
                                <a href="mailto:john.doe@self.mail">
                                    john.doe@self.mail
                                </a>
                            </div>
                            <div class="member__phone">
                                <a href=""><i class="icon-phone"></i>+971 52 555 1234</a>
                            </div>
                            <div class="member__whatsapp">
                                <a href="whatsapp://send?abid=+971 52 555
                                4321"><span><img src="images/whatsapp.png" alt="whatsapp">+971 52 555
                                        4321</span></a>
                            </div>
                        </div>
                        <div class="member__body">
                            <p>Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos
                                eligendi est illo aperiam.</p>
                        </div>


                    </div>
                </div>
                <div class="single__member">
                    <div class="single__member--wrap">
                        <div class="member__head">
                            <div class="member__image">
                                <img src="images/ellipse.png" alt="member">
                            </div>
                            <div class="member__details">
                                <h5>john doe</h5>
                                <div class="designation">
                                    Trading Specialists
                                </div>
                            </div>
                        </div>
                        <div class="member__contactdetails">
                            <div class="member__email">
                                <a href="mailto:john.doe@self.mail">
                                    john.doe@self.mail
                                </a>
                            </div>
                            <div class="member__phone">
                                <a href=""><i class="icon-phone"></i>+971 52 555 1234</a>
                            </div>
                            <div class="member__whatsapp">
                                <a href="whatsapp://send?abid=+971 52 555
                                4321"><span><img src="images/whatsapp.png" alt="whatsapp">+971 52 555
                                        4321</span></a>
                            </div>
                        </div>
                        <div class="member__body">
                            <p>Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos
                                eligendi est illo aperiam.</p>
                        </div>


                    </div>
                </div>
                <div class="single__member">
                    <div class="single__member--wrap">
                        <div class="member__head">
                            <div class="member__image">
                                <img src="images/ellipse.png" alt="member">
                            </div>
                            <div class="member__details">
                                <h5>john doe</h5>
                                <div class="designation">
                                    Trading Specialists
                                </div>
                            </div>
                        </div>
                        <div class="member__contactdetails">
                            <div class="member__email">
                                <a href="mailto:john.doe@self.mail">
                                    john.doe@self.mail
                                </a>
                            </div>
                            <div class="member__phone">
                                <a href=""><i class="icon-phone"></i>+971 52 555 1234</a>
                            </div>
                            <div class="member__whatsapp">
                                <a href="whatsapp://send?abid=+971 52 555
                                4321"><span><img src="images/whatsapp.png" alt="whatsapp">+971 52 555
                                        4321</span></a>
                            </div>
                        </div>
                        <div class="member__body">
                            <p>Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos
                                eligendi est illo aperiam.</p>
                        </div>


                    </div>
                </div>
                <div class="single__member">
                    <div class="single__member--wrap">
                        <div class="member__head">
                            <div class="member__image">
                                <img src="images/ellipse.png" alt="member">
                            </div>
                            <div class="member__details">
                                <h5>john doe</h5>
                                <div class="designation">
                                    Trading Specialists
                                </div>
                            </div>
                        </div>
                        <div class="member__contactdetails">
                            <div class="member__email">
                                <a href="mailto:john.doe@self.mail">
                                    john.doe@self.mail
                                </a>
                            </div>
                            <div class="member__phone">
                                <a href=""><i class="icon-phone"></i>+971 52 555 1234</a>
                            </div>
                            <div class="member__whatsapp">
                                <a href="whatsapp://send?abid=+971 52 555
                                4321"><span><img src="images/whatsapp.png" alt="whatsapp">+971 52 555
                                        4321</span></a>
                            </div>
                        </div>
                        <div class="member__body">
                            <p>Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos
                                eligendi est illo aperiam.</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>