<div class="faqs__content">
    <div class="faqs__row">
        <div class="faqs__row--title">
            vehicle
        </div>
        <div class="faqs__row--details">
            <div class="faqs__row--subtitle">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="faqs__row--text">
                Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos eligendi est.Lorem ipsum dolor sit amet.
            </div>
        </div>    
        <div class="faqs__row--details">
            <div class="faqs__row--subtitle">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="faqs__row--text">
                Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos eligendi est.Lorem ipsum dolor sit amet.
            </div>
        </div>       
    </div>
    <div class="faqs__row">
        <div class="faqs__row--title">
            Company
        </div>
        <div class="faqs__row--details">
            <div class="faqs__row--subtitle">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="faqs__row--text">
                Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos eligendi est.Lorem ipsum dolor sit amet.
            </div>
        </div> 
        <div class="faqs__row--details">
            <div class="faqs__row--subtitle">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="faqs__row--text">
                Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos eligendi est.Lorem ipsum dolor sit amet.
            </div>
        </div>    
    </div>
    <div class="faqs__row">
        <div class="faqs__row--title">
            trade
        </div>
        <div class="faqs__row--details">
            <div class="faqs__row--subtitle">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="faqs__row--text">
                Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos eligendi est.Lorem ipsum dolor sit amet.
            </div>
        </div> 
        <div class="faqs__row--details">
            <div class="faqs__row--subtitle">
                Lorem ipsum dolor sit amet?
            </div>
            <div class="faqs__row--text">
                Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut internos eligendi est.Lorem ipsum dolor sit amet.
            </div>
        </div>    
    </div>
    <div class="faqs__contact">
        <div class="faqs__contact--title">Need further assistance?</div>
        <div class="contact__us--details">
            <p><img src="images/phone-black.png" alt="Phone"><span> 600 540045</span></p>
            <p>Mon-Fri: 8.30 a.m. - 5.30 p.m.</p>
        </div>
    </div>
</div>