<div class="sitemap__container">
    <div class="sitemap__row">
        <div class="sitemap__flex">
            <ul>
                <li><a href="">Search Cars</a></li>
                <li><a href="">Get Quotation - Parts</a></li>
                <li><a href="">Offers</a></li>
                <li><a href="">Search Parts</a></li>
                <li><a href="">Parts & Accessories</a></li>
                <li><a href="">Blogs</a></li>
                <li><a href="">Search Advanced</a></li>
                <li><a href="">Electric Cars</a></li>
                <li><a href="">Locations</a></li>
                <li><a href="">Get Quotation - Vehicle</a></li>
                <li><a href="">Customer Reviews</a></li>
                <li><a href="">FAQs</a></li>
            </ul>
        </div>
        <div class="faqs__contact">
            <div class="faqs__contact--title">Need further assistance?</div>
            <div class="contact__us--details">
                <p><img src="images/phone-black.png" alt="Phone"><span> 600 540045</span></p>
                <p>Mon-Fri: 8.30 a.m. - 5.30 p.m.</p>
            </div>
        </div>
    </div>
</div>