<!-- partial:partials/common/_head.html -->
<!-- partial -->
<div id="__main">
    <div class="head">
        <!-- navigation  -->
        <div class="headwrap">
            <ul>
                <li><a href="/">home</a></li>
                <li>
                    <i class="icon-angle-right"></i>
    
                </li>
                <li><a href="" class="rq__nav--active">about us</a></li>
            </ul>
        </div>
        
    
    </div>
    <!-- main head  -->
    <div class="main--head">
        <h2>about us</h2>
    </div>
    <div class="main__container about__us__container">
        <!-- partial:partials/about_us/_head.html -->
        <!-- partial -->
        <!-- partial:partials/about_us/_body.html -->
        <!-- partial -->
    </div>
    <!-- partial:partials/common/_newsletter.html -->
    <!-- partial -->
    <!-- partial:partials/common/_footer.html -->
    <!-- partial -->
</div>