<!-- partial:partials/common/_head.html -->
<!-- partial -->
<div id="__main">
    <div class="head">
        <!-- navigation  -->
        <div class="headwrap">
            <ul>
                <li><a href="/">home</a></li>
                <li>
                    <i class="icon-angle-right"></i>

                </li>
                <li><a href="" class="rq__nav--active">vehicle</a></li>
            </ul>
        </div>
    </div>
    <!-- main head  -->
    <div class="main--head">
        <h2>vehicle details</h2>
    </div>
    <div class="main__container vehicle__detail__container">
        <div class="main-back">
            <h6><a href="/"><i class="icon-angle-left"></i><span>back</span></a></h6>
        </div>
        <div class="download-pdf desktop__hidden">
            <a href="#">download pdf <span><img src="images/pdf.png" alt="Pdf"></span></a>
        </div>
    <!-- partial:partials/car_details/_car-details-slider.html -->
    <!-- partial -->
    <!-- partial:partials/car_details/_car-details-features.html -->
    <!-- partial -->
    <!-- partial:partials/car_details/_car-details-specs.html -->
    <!-- partial -->
    </div>
    <!-- partial:partials/home/_product-slider.html -->
    <!-- partial -->
    <!-- partial:partials/common/_newsletter.html -->
    <!-- partial -->
    <!-- partial:partials/common/_footer.html -->
    <!-- partial -->
</div>