<!-- partial:partials/common/_head.html -->
<!-- partial -->
<div id="__main">
    <div class="head">
        <!-- navigation  -->
        <div class="headwrap">
            <ul>
                <li><a href="/">home</a></li>
                <li>
                    <i class="icon-angle-right"></i>

                </li>
                <li><a href="" class="rq__nav--active">Frequently Asked Questions</a></li>
            </ul>
        </div>
    </div>
    <!-- main head  -->
    <div class="main--head">
        <h2>Frequently Asked Questions</h2>
    </div>
    <div class="main__container faqs--container">
        <div class="main-back">
            <h6><a href="/"><i class="icon-angle-left"></i><span>back</span></a></h6>
        </div>
        <!-- partial:partials/faqs/_faqs.html -->
        <!-- partial -->
    </div>

    <!-- partial:partials/common/_newsletter.html -->
    <!-- partial -->
    <!-- partial:partials/common/_footer.html -->
    <!-- partial -->
</div>