<!-- partial:partials/common/_head.html -->
<!-- partial -->
<div id="__main">
<!-- partial:partials/home/_banner.html -->
<!-- partial -->
<!-- partial:partials/home/_sectiontab.html -->
<!-- partial -->
<!-- partial:partials/home/_connection.html -->
<!-- partial -->
<!-- partial:partials/home/_product-slider.html -->
<!-- partial -->
<!-- partial:partials/home/_new_in_stock.html -->
<!-- partial -->
<!-- partial:partials/home/_cartypes.html -->
<!-- partial -->
<!-- partial:partials/home/_why.html -->
<!-- partial -->
<!-- partial:partials/home/_testimonial.html -->
<!-- partial -->
<!-- partial:partials/home/_product-slider.html -->
<!-- partial -->
<!-- partial:partials/home/_parts.html -->
<!-- partial -->
<!-- partial:partials/common/_newsletter.html -->
<!-- partial -->

<!-- partial:partials/common/_footer.html -->
<!-- partial -->
</div>