<section class="parts__search--content">
    <div class="parts__search--head">
        <div class="parts__search--title">
            Oil & Lubricants
        </div>
        <div class="explore__vehicle-__dropdown">
            <label for="" class="label__sort">sort</label>
            <div class="explore__dropdown">
                <a href="#" class="explore__dropdown--title">Featured
                    <span class="explore__dropdown__chevron"><img src="./images/chevron.png"
                            alt=""></span>
                </a>
                <div class="explore__dropdowncontent explore__dropdown-menu">
                    <ul>
                        <li><a href="#" id="featured" data-sort-by="original-order" >Featured</a></li>
                        <li><a href="#" id="alphBnt" data-sort-by="title" data-sort-direction="asc">Brand A-Z</a></li>
                        <li><a href="#" id="alphBntdesc" data-sort-by="title" data-sort-direction="desc">Brand Z-A</a></li>
                        <li><a href="#" id="lskuno" data-sort-by="sknum" data-sort-direction="asc">lowest SKU number</a></li>
                        <li><a href="#" id="hskuno" data-sort-by="sknum" data-sort-direction="desc">highest SKU number</a></li>
                        <li><a href="#" id="price" data-sort-by="price" data-sort-direction="asc">price low to high</a></li>
                        <li><a href="#" id="pricedesc" data-sort-by="price" data-sort-direction="desc">price high to low</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="parts__search--body">
        <div class="parts__search--bodyContainer">
            <div class="prts__search--flex">
                <div class="parts__list">
                    <div class="parts__single">
                        <div class="parts__image">
                            <img src="images/parts1.png" alt="">
                        </div>
                        <div class="parts__content--details">
                            <h6 class="title">OEM Brand</h6>
                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                            <div class="price hidden">78</div>
                            <div class="sknum  hidden">CD7007328</div>
                            <span class="parts__price">Please request for price</span>
                            <button class="btn">see details</button>
                        </div>
                    </div>
                    <div class="parts__single">
                        <div class="parts__image">
                            <img src="images/parts2.png" alt="">
                        </div>
                        <div class="parts__content--details">
                            <h6 class="title">ghjk ll</h6>
                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                            <div class="price hidden">8</div>
                            <div class="sknum  hidden">KB234001</div>
                            <span class="parts__price">Please request for price</span>
                            <button class="btn">see details</button>
                        </div>
                    </div>
                    <div class="parts__single">
                        <div class="parts__image">
                            <img src="images/parts1.png" alt="">
                        </div>
                        <div class="parts__content--details">
                            <h6 class="title">lorem</h6>
                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                            <div class="price hidden">3</div>
                            <div class="sknum  hidden">AB007012</div>
                            <span class="parts__price">Please request for price</span>
                            <button class="btn">see details</button>
                        </div>
                    </div>
                    <div class="parts__single">
                        <div class="parts__image">
                            <img src="images/parts1.png" alt="">
                        </div>
                        <div class="parts__content--details">
                            <h6 class="title">AEM Brand</h6>
                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                            <div class="price hidden">1</div>
                            <div class="sknum  hidden">AEO010783</div>
                            <span class="parts__price">Please request for price</span>
                            <button class="btn">see details</button>
                        </div>
                    </div>
                    <div class="parts__single">
                        <div class="parts__image">
                            <img src="images/parts1.png" alt="">
                        </div>
                        <div class="parts__content--details">
                            <h6 class="title">OEM Brand</h6>
                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                            <div class="price hidden">9</div>
                            <div class="sknum  hidden">CD7007328</div>
                            <span class="parts__price">Please request for price</span>
                            <button class="btn">see details</button>
                        </div>
                    </div>
                    <div class="parts__single">
                        <div class="parts__image">
                            <img src="images/parts1.png" alt="">
                        </div>
                        <div class="parts__content--details">
                            <h6 class="title">OEM Brand</h6>
                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                            <div class="price hidden">10</div>
                            <div class="sknum  hidden">AB007012</div>
                            <span class="parts__price">Please request for price</span>
                            <button class="btn">see details</button>
                        </div>
                    </div>
                    <div class="parts__single">
                        <div class="parts__image">
                            <img src="images/parts1.png" alt="">
                        </div>
                        <div class="parts__content--details">
                            <h6 class="title">OEM Brand</h6>
                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                            <div class="price hidden">99</div>
                            <div class="sknum  hidden">AB007012</div>
                            <span class="parts__price">Please request for price</span>
                            <button class="btn">see details</button>
                        </div>
                    </div>
                    <div class="parts__single">
                        <div class="parts__image">
                            <img src="images/parts1.png" alt="">
                        </div>
                        <div class="parts__content--details">
                            <h6 class="title">OEM Brand</h6>
                            <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non.</p>
                            <div class="price hidden">23</div>
                            <div class="sknum  hidden">CD7007328</div>
                            <span class="parts__price">Please request for price</span>
                            <button class="btn">see details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    // external js: isotope.pkgd.js


</script>