<!-- banner starts  -->
<div class="banner__container">
<div class="banner__row">
    <div class="banner__single">
        <div class="banner__image--wrap">
            <picture>
                <source srcset="images/banner1.png" height="600" width="1440" media="(min-width: 1240px)">
                <source srcset="images/banner-mobile.png" height="184" width="375" media="(max-width: 1024px)">
                <img class="banner__imgtag" height="600" width="1440" src="images/banner1.png"
                    alt="Banner Image" loading="lazy">
            </picture>
        </div>
        <div class="banner__content banner__contentleft">
            <div class="banner__title text-black">
                <h1 >Find the right car
                    <b>guaranteed</b>
                </h1>
            </div>
            <div class="banner__subtitle text-white">
                <p>You have all options for SUV, Sedan, Hatcback, and so on.</p>
            </div>
        </div>
    </div>
    <div class="banner__single">
        <div class="banner__image--wrap">
            <picture>
                <source srcset="images/banner2.png" height="600" width="1440" media="(min-width: 1240px)">
                <source srcset="images/banner-mobile.png" height="184" width="375" media="(max-width: 1024px)">
                <img class="banner__imgtag" height="600" width="1440" src="images/banner2.png"
                    alt="Banner Image" loading="lazy">
            </picture>
        </div>
        <div class="banner__content banner__contentright">
            <div class="banner__title text-white">
                <h1 >Find the right car
                    <b>guaranteed</b>
                </h1>
            </div>
            <div class="banner__subtitle text-white">
                <p>You have all options for SUV, Sedan, Hatcback, and so on.</p>
            </div>
        </div>
    </div>
    <div class="banner__single">
        <div class="banner__image--wrap">
            <picture>
                <source srcset="images/banner3.png" height="600" width="1440" media="(min-width: 1240px)">
                <source srcset="images/banner-mobile.png" height="184" width="375" media="(max-width: 1024px)">
                <img class="banner__imgtag" height="600" width="1440" src="images/banner3.png"
                    alt="Banner Image" loading="lazy">
            </picture>
        </div>
        <div class="banner__content banner__contentright">
            <div class="banner__title text-black">
                <h1 >Find the right car
                    <b>guaranteed</b>
                </h1>
            </div>
            <div class="banner__subtitle text-black">
                <p>You have all options for SUV, Sedan, Hatcback, and so on.</p>
            </div>
        </div>
    </div>
  
</div>
</div>
<!-- banner ends  -->