<!-- car types start  -->
<div class="car__type__container">
    <div class="car__type__row">
        <div class="car__type--title">
            <h4>car types</h4>
        </div>
        <div class="car__containers">
            <div class="car__row">
                <div class="car__single">
                    <a href=""><img src="./images/car1.png" alt="car" loading="lazy" >
                        <h6>suv</h6>
                    </a>
                </div>
                <div class="car__single disabled">
                    <a href=""><img src="./images/car2.png" alt="car" loading="lazy">
                        <h6>sedan</h6>
                    </a>
                </div>
                <div class="car__single">
                    <a href=""> <img src="./images/car3.png" alt="car" loading="lazy">
                        <h6>hatchback</h6>
                    </a>
                </div>
                <div class="car__single">
                    <a href=""> <img src="./images/car1.png" alt="car" loading="lazy">
                        <h6>suv</h6>
                    </a>
                </div>
                <div class="car__single">
                    <a href=""><img src="./images/car2.png" alt="car" loading="lazy">
                        <h6>sedan</h6>
                    </a>
                </div>
            </div>
            <div class="section__carsBtn">
                <button class="btn btn-outline">see all</button>
            </div>
            <div class="car__row " id="more">
                <div class="car__single">
                    <a href=""><img src="./images/car3.png" alt="car" loading="lazy">
                        <h6>hatchback</h6>
                    </a>
                </div>
                <div class="car__single">
                    <a href=""> <img src="./images/car1.png" alt="car" loading="lazy">
                        <h6>suv</h6>
                    </a>
                </div>
                <div class="car__single">
                    <a href=""><img src="./images/car2.png" alt="car" loading="lazy">
                        <h6>sedan</h6>
                    </a>
                </div>
                <div class="car__single">
                    <a href=""> <img src="./images/car3.png" alt="car" loading="lazy">
                        <h6>hatchback</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- car types end  -->