<!-- connection starts -->
<div class="connection__container">
    <div class="connection__row">
        <div class="connection__title">
            <h3>It is great connecting with you!</h3>
        </div>
        <div class="connection__content">
            <div class="connection__leftcontent">
                <p>Welcome to Al Ghurair Auto Trading</p>
                <button type="button" class="btn btn-primary">contact us</button>
            </div>
            <div class="connection__rightcontent">
                <p> We are here with high level expertise for you and your requirements.</p>
            </div>
        </div>
    </div>
</div>