<!-- new in stock starts  -->
<div class="new__in__stock__container">
    <div class="new__in__stock__row">
        <div class="new__in__stock__title">
            <h4>Did you see
                our <br/><span>‘NEW IN STOCK’</span> cars?</h4>
                <div class="new__in__stock--tag">
                    <img src="./images/NEW IN.png" alt="" loading="lazy">
                </div>
        </div>
        <div class="new__in__stock__content clearfix">
            <p>Browse our new arrival vehicles. We keep updated andincreased our stocks always as per your requirements.</p>
            <button type="button" class="btn btn-orange">See ‘new in stock’ cars</button>
        </div>
    </div>
</div>   
<!-- new in stock ends  -->