<div class="parts__container">
    <div class="parts__row">
        <div class="parts__title">
            Parts & Accessories
        </div>
        <div class="parts-column">
            <div class="parts__col parts__col--image">
                <img src="./images/parts.png" alt="" loading="lazy">
             </div>
             <div class="parts__wrap">
          
                <div class="parts__col_section"><a href="#">
                    <img src="./images/icon1.png" alt="" loading="lazy">
                    <span>Oil & Lubricants</span></a>
                </div>
                <div class="parts__col_section disabled"><a href="#">
                    <img src="./images/icon2.png" alt="" loading="lazy">
                    <span>Brake parts</span></a>
                </div>
                <div class="parts__col_section"><a href="#">
                    <img src="./images/icon3.png" alt="" loading="lazy">
                    <span>Engine parts</span></a>
                </div>
          
           
                <div class="parts__col_section"><a href="#">
                    <img src="./images/icon1.png" alt="" loading="lazy">
                    <span>Oil & Lubricants</span></a>
                </div>
                <div class="parts__col_section"><a href="#">
                    <img src="./images/icon2.png" alt="" loading="lazy">
                    <span>Brake parts</span></a>
                </div>
                <div class="parts__col_section"><a href="#">
                    <img src="./images/icon3.png" alt="" loading="lazy">
                    <span>Engine parts</span></a>
                </div>
            
        </div>
        </div>
     
    </div>
</div>