<!-- product slider starts  -->
<div class="product__slider--container">
    <div class="product__slider--row">
        <div class="product__slider--title">
            <h4>popular cars</h4>
        </div>
        <div class="product__container">
            <div class="product__wrap">
                <div class="single__product">
                    <div class="single__product--wrap">
                        <div class="product__image">
                           <img src="images/prado.png" alt="" loading="lazy">
                        </div>
                        <div class="product__details">
                            <div class="product__title">
                                <h4>Toyota Prado</h4>
                            </div>
                            <div class="product__type">
                                <h5>GXR </h5>
                            </div>
                            <div class="product__subtitle">
                                <p>4.0 L V6 </p>
                                <p>AWD Full Option</p>
                            </div>
                          
                        </div>
                    </div>
                    <div class="product__slider-bottom">
                        <div class="product__slider-left"><div class="product__specifications">
                            <span class="product__tag">2022</span>
                            <span class="product__tag">0 km</span>
                            <span class="product__tag">GCC</span>
                        </div>
                        </div> 
                        <div class="product__slider-right"><button type="button" class="btn btn-white">explore</button> <div class="product__request--price">
                            <a href="">Please request for price </a>
                        </div></div> </div>
                </div>
                <div class="single__product">
                    <div class="single__product--wrap">
                        <div class="product__image">
                            <img src="images/patrol.png" alt="" loading="lazy">
                        </div>
                        <div class="product__details">
                            <div class="product__title">
                                <h4>
                                    Nissan Kicks
                                      </h4>
                            </div>
                            <div class="product__type">
                                <h5>GXR </h5>
                            </div>
                            <div class="product__subtitle">
                                <p>4.0 L V6 </p>
                                <p>AWD Full Option</p>
                            </div>
                           
                           
                        </div>
                    </div>
                    <div class="product__slider-bottom">
                        <div class="product__slider-left"><div class="product__specifications">
                            <span class="product__tag">2022</span>
                            <span class="product__tag">0 km</span>
                            <span class="product__tag">GCC</span>
                        </div>
                        </div> 
                        <div class="product__slider-right"><button type="button" class="btn btn-white">explore</button> <div class="product__request--price">
                            <a href="">Please request for price </a>
                        </div></div> </div>
                </div>
                <div class="single__product">
                    <div class="single__product--wrap">
                        <div class="product__image">
                            <img class="" src="images/prado.png"
                                alt="Banner Image" loading="lazy">
                        </div>
                        <div class="product__details">
                            <div class="product__title">
                                <h4>Nissan magnite</h4>
                            </div>
                            <div class="product__type">
                                <h5>GXR </h5>
                            </div>
                            <div class="product__subtitle">
                                <p>4.0 L V6 </p>
                                <p>AWD Full Option</p>
                            </div>
                           
                        </div>
                    </div>
                    <div class="product__slider-bottom">
                        <div class="product__slider-left"><div class="product__specifications">
                            <span class="product__tag">2022</span>
                            <span class="product__tag">0 km</span>
                            <span class="product__tag">GCC</span>
                        </div>
                       </div> 
                        <div class="product__slider-right"><button type="button" class="btn btn-white">explore</button> <div class="product__request--price">
                            <a href="">Please request for price </a>
                        </div></div>
                </div>
                </div>
                <div class="single__product">
                    <div class="single__product--wrap">
                        <div class="product__image">
                            <img src="images/patrol.png" alt="" loading="lazy">
                        </div>
                        <div class="product__details">
                            <div class="product__title">
                                <h4>Toyota Prado</h4>
                            </div>
                            <div class="product__type">
                                <h5>GXR </h5>
                            </div>
                            <div class="product__subtitle">
                                <p>4.0 L V6 </p>
                                <p>AWD Full Option</p>
                            </div>
                        </div>
                    </div>
                    <div class="product__slider-bottom">
                        <div class="product__slider-left"><div class="product__specifications">
                            <span class="product__tag">2022</span>
                            <span class="product__tag">0 km</span>
                            <span class="product__tag">GCC</span>
                        </div>
                        </div> 
                        <div class="product__slider-right"><button type="button" class="btn btn-white">explore</button> <div class="product__request--price">
                            <a href="">Please request for price </a>
                        </div></div></div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-outline btn-explore">Explore all</button>
    </div>
</div>