<!-- tab sections  -->
<div class="section__tabcontainer">
    <div class="section__tabrow">
        <div class="section__tabs-nav">
            <ul>
                <li class="section__tabs-navactive"><a id="tab1">cars</a></li>
                <li><a id="tab2">parts</a></li>
                <li><a  href="/advanced-search.html" id="tab3">advanced</a></li>
            </ul>
        </div>
        <div class="section__tabs__search section__cars">    
            <select class="custom-select" id="cartab-select">
                <option value=""></option>
                <option value="a001">Kathmandu</option>
                <option value="a002">Pokhara</option>
                <option value="a003">Lalitpur</option>
                <option value="a001">abc</option>
                <option value="a002">cd</option>
                <option value="a003">eghl</option>
               <option value="a001">hjj</option>
                <option value="a002">rosy</option>
                <option value="a003">ioo</option>
                <option value="a001">ff</option>
                <option value="a002">gg</option>
                <option value="a003">joppp</option>
              </select>
            <div class="section__search--button">
                <button>search</button>
            </div>
        </div>
        <div class="section__tabs__search section__parts">    
              <select class="custom-select" id="partstab-select" >
                <option value=""></option>
                <option value="a001">asf</option>
                <option value="a002">tyuu</option>
                <option value="a003">hjjkk</option>
                <option value="a001">uiio</option>
                <option value="a002">vghj</option>
                <option value="a003">eghl</option>
              </select>
            <div class="section__search--button">
                <button>search</button>
            </div>
        </div>
        <section class="section__tabs-content">
            <div class="section__tabs-contentWrap">
                <div class="section__tabs-contenttitle">
                    Brands
                </div>
                <div class="section__brandsrow">
                    <div class="section__brands">
                        <a href=""> <img src="./images/logo1.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">toyota</p>
                        </a>
                    </div>
                    <div class="section__brands disabled">
                        <a href="">
                            <img src="./images/logo2.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">nissan</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""> <img src="./images/hyundai 2.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">hyundai</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""> <img src="./images/lexus.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">lexus</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""> <img src="./images/bmw.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">BMW</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""> <img src="./images/logo1.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">toyota</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""><img src="./images/logo2.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">nissan</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""> <img src="./images/hyundai 2.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">hyundai</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""><img src="./images/lexus.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">lexus</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""><img src="./images/bmw.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">BMW</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""><img src="./images/logo2.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">nissan</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""> <img src="./images/hyundai 2.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">hyundai</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""><img src="./images/lexus.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">lexus</p>
                        </a>
                    </div>
                    <div class="section__brands">
                        <a href=""><img src="./images/bmw.png" alt="Brand" loading="lazy" >
                            <p class="section__brand--title">BMW</p>
                        </a>
                    </div>
                   
                </div>
                <div class="section__brandsBtn">
                    <button class="btn btn-outline">see all</button>
                </div>
            </div>
            </section>
    </div>
    
</div>
