<!-- testimonial starts  -->
<div class="testimonial__container">
    <div class="testimonial__row">
        <div class="testimonial__title">
            <h3>what our clients say</h3>
        </div>
        <div class="testimonial__content">
            <div class="testimonial__quote">
                <div class="testimonial__image">
                    <img src="./images/quote.png" alt="" loading="lazy" >
                </div>
                <div class="testimonial__text">
                    <p>A consistentently reliable partner. Al Ghurair Auto Trading is a strong company which delivers
                        vehicles and parts&accessories. I haven’t experienced a single problem from their side. </p>
                </div>
                <div class="testimonial__details">
                    <div class="testimonial__name">
                        Ibraheem Bryan
                    </div>
                    <div class="testimonial__company">
                        CEO, Same Company
                    </div>
                    <div class="testimonial__location">
                        Africa
                    </div>
                    <div class="testimonial__ratings">
                        <img src="./images/star.png" alt=""  loading="lazy">
                    </div>
                </div>
            </div>
            <div class="testimonial__quote">
                <div class="testimonial__image">
                    <img src="./images/quote.png" alt="" loading="lazy" >
                </div>
                <div class="testimonial__text">
                    <p>A consistentently reliable partner. Al Ghurair Auto Trading is a strong company which delivers
                        vehicles and parts&accessories. I haven’t experienced a single problem from their side. </p>
                </div>
                <div class="testimonial__details">
                    <div class="testimonial__name">
                        Ibraheem Bryan
                    </div>
                    <div class="testimonial__company">
                        CEO, Same Company
                    </div>
                    <div class="testimonial__location">
                        Africa
                    </div>
                    <div class="testimonial__ratings">
                        <img src="./images/star.png" alt=""  loading="lazy">
                    </div>
                </div>
            </div>
            <div class="testimonial__quote">
                <div class="testimonial__image">
                    <img src="./images/quote.png" alt="" loading="lazy">
                </div>
                <div class="testimonial__text">
                    <p>A consistentently reliable partner. Al Ghurair Auto Trading is a strong company which delivers
                        vehicles and parts&accessories. I haven’t experienced a single problem from their side. </p>
                </div>
                <div class="testimonial__details">
                    <div class="testimonial__name">
                        Ibraheem Bryan
                    </div>
                    <div class="testimonial__company">
                        CEO, Same Company
                    </div>
                    <div class="testimonial__location">
                        Africa
                    </div>
                    <div class="testimonial__ratings">
                        <img src="./images/star.png" alt="" loading="lazy">
                        <img src="./images/star.png" alt="" loading="lazy">
                        <img src="./images/star.png" alt="" loading="lazy">
                        <img src="./images/star.png" alt="" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial ends  -->