<!-- why container starts here  -->
<div class="why__container">
    <div class="why__row">
        <div class="why__first__row">
            <div class="why__element">
                <img src="./images/why1.png" alt=""  loading="lazy">
                <span>competitive prices</span>
            </div>
            <div class="why__element">
                <img src="./images/why2.png" alt=""  loading="lazy">
                <span>trust company</span>
            </div>
            <div class="why__element">
                <img src="./images/why3.png" alt=""  loading="lazy">
                <span>always in stock</span>
            </div>
        </div>
        <div class="why__second__row">
            <div class="why__element">
                <img src="./images/why4.png" alt=""  loading="lazy">
                <span>Proven
                    experiences</span>
            </div>
            <div class="why__large--element">
                <h2>Why <br/> AG Auto?</h2>
                <p>Wide range of vehicles for your business are ready.</p>
            </div>
            <div class="why__element">
                <img src="./images/why5.png" alt=""  loading="lazy">
                <span>Global
                    network</span>
            </div>
        </div>
    </div>
</div>
<!-- why container ends here  -->