
<!-- car features  -->
<div class="car__details--feature clearfix">
    <div class="car__details--featurewrap">
        <div class="car__details--title">
            <h4>Highlighted Features</h4>
        </div>
        <div class="features__list">
            <div class="features__list--wrap">
                <ul>
                    <li>
                        <div class="list__title">engine</div>
                        <div class="list__content">4.0L V6</div>
                    </li>
                    <li>
                        <div class="list__title">year</div>
                        <div class="list__content">2022</div>
                    </li>
                    <li>
                        <div class="list__title">mileage</div>
                        <div class="list__content">0 km</div>
                    </li>
                    <li> <div class="list__title">body</div>
                        <div class="list__content">SUV</div></li>
                        <li>
                            <div class="list__title">specs</div>
                            <div class="list__content">gcc</div>
                        </li>
                        <li>
                            <div class="list__title">transmission</div>
                            <div class="list__content">Auto</div>
                        </li>
                        <li>
                            <div class="list__title">exterior color</div>
                            <div class="list__content">white</div>
                        </li>
                        <li>
                            <div class="list__title">interor color</div>
                            <div class="list__content">black</div>
                        </li>
                </ul>
            </div>
            <button type="button" href="/inquire.html" class="btn btn-orange btn-inquire">Inquire Now</button>
        </div>
    </div>
</div>