<!-- car details specifications  -->
<div class="car__details--specs">
    <div class="car__details--specs-wrap">
        <div class="car__details--title">
            <h4>specifications</h4>
        </div>
        <div class="car__details--specs--list">
            <div class="car__details--specs--listwrap">
                <ul>
                    <li class="car__details--specs--mainlist">
                        <div class="car__details--subtitle">
                            Safety
                        </div>
                        <div class="car__details--content">
                            <ul>
                                <li>ABS - VSC - Anti theft</li>
                                <li>Child Restraint</li>
                            </ul>
                        </div>
                    </li>
                    <li class="car__details--specs--mainlist">
                        <div class="car__details--subtitle">
                            Interior
                        </div>
                        <div class="car__details--content">
                            <ul>
                                <li>Leather seat</li>
                                <li>Sunroof</li>
                            </ul>
                        </div>
                    </li>
                    <li class="car__details--specs--mainlist">
                        <div class="car__details--subtitle">
                            Exterior
                        </div>
                        <div class="car__details--content">
                            <ul>
                                <li>Towing hitch</li>
                                <li>Roof rack</li>
                            </ul>
                        </div>
                    </li>
                    <li class="car__details--specs--mainlist">
                        <div class="car__details--subtitle">
                            Multimedia
                        </div>
                        <div class="car__details--content">
                            <ul>
                                <li>12.3” screen</li>
                                <li>Rear seat entertainment</li>
                            </ul>
                        </div>
                    </li>
                    <li class="car__details--specs--mainlist">
                        <div class="car__details--subtitle">
                            Dimension
                        </div>
                        <div class="car__details--content">
                            <ul>
                                <li>Overall size 5015 x 1980 x 1890</li>
                                <li>Fuel tank 100L</li>
                            </ul>
                        </div>
                    </li>
                    <li class="car__details--specs--mainlist">
                        <div class="car__details--subtitle">
                            Tires
                        </div>
                        <div class="car__details--content">
                            <ul>
                                <li>265/65R18</li>
                                <li>Wheel cap</li>
                            </ul>
                        </div>
                    </li>
                    <li class="car__details--specs--mainlist">
                        <div class="car__details--subtitle">
                            Features
                        </div>
                        <div class="car__details--content">
                            <ul>
                                <li>Cruise control</li>
                                <li>Differential lock</li>
                            </ul>
                        </div>
                    </li>
                    <li class="car__details--specs--mainlist">
                        <div class="car__details--subtitle">
                           Weights
                        </div>
                        <div class="car__details--content">
                            <ul>
                                <li>2140 kg</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>