
<div class="details__title">
    <h3>Toyota Prado <span>|</span> <span class="text-uppercase">gxr</span></h3>
</div>

<div class="car-detailtabs">
    <div id="car-detailtabs-content">
      <div id="car-detailtab1" class="car-detailtab-content">
        <div class="pdt-image-block ">
            <div class="pdp-slider">
                <div class=" pdt-slider-single">
                    <div class="pdt-slider-single-wrap ">
        
                        <div class="pdtclass">
                            <img src="images/vehicle2.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle1.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle3.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle2.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle1.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle3.png" alt="Slider image">
                        </div>
                    </div>
        
                </div>
                <div class="pdt-slider-nav">
                    <div class="pdt-slider-nav-wrap">
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle2.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle1.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle3.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle2.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle1.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle3.png" alt="Slider image">
                        </div>
        
                    </div>
                </div>
              
            </div>
        </div>
    </div>
      <div id="car-detailtab2" class="car-detailtab-content">
        <div class="pdt-image-block ">
            <div class="pdp-slider">
                <div class=" pdt-slider-single">
                    <div class="pdt-slider-single-wrap ">
        
                        <div class="pdtclass">
                            <img src="images/vehicleex1.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle1.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle3.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle2.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle1.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle3.png" alt="Slider image">
                        </div>
                    </div>
        
                </div>
                <div class="pdt-slider-nav">
                    <div class="pdt-slider-nav-wrap">
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicleex1-small.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle1-small.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle3-small.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle2-small.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle1-small.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle3-small.png" alt="Slider image">
                        </div>
        
                    </div>
                </div>
              
            </div>
        </div>
    </div>
      <div id="car-detailtab3" class="car-detailtab-content">
        <div class="pdt-image-block ">
            <div class="pdp-slider">
                <div class=" pdt-slider-single">
                    <div class="pdt-slider-single-wrap ">
        
                        <div class="pdtclass">
                            <img src="images/vehicleex1.png" alt="Slider image">
                            <div class="image-position">
                                <img src="images/360.png" alt="360-image">
                            </div>
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle1.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle3.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle2.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle1.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/vehicle3.png" alt="Slider image">
                        </div>
                    </div>
        
                </div>
                <div class="pdt-slider-nav">
                    <div class="pdt-slider-nav-wrap">
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicleex1-small.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle1-small.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle3-small.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle2-small.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle1-small.png" alt="Slider image">
                        </div>
                        <div class="pdt-slider-nav-img">
                            <img src="images/vehicle3-small.png" alt="Slider image">
                        </div>
        
                    </div>
                </div>
              
            </div>
        </div>
    </div>
      
    </div> <!-- END car-detailtabs-content -->
     <ul id="car-detailtabs-nav">
      <li><a href="#car-detailtab1">interior </a></li>
      <li><a href="#car-detailtab2">exterior</a></li>
      <li><a href="#car-detailtab3">view 360</a></li>
    </ul> <!-- END car-detailtabs-nav -->
    <div class="download-pdf mob-hidden">
        <a href="">download pdf <span><img src="images/pdf.png" alt="Pdf"></span></a>
    </div>
    
  </div> <!-- END car-detailtabs -->
