
    <div class="blogs__row">
        <div class="main-title">
            <h3>News, Events, Photos</h3>
        </div>
        <div class="blogs__content">
            <div class="blogs__flex">
                <div class="blogs__col text-left">
                    <div class="blogs__colcontent">
                        <div class="col-title">Lorem ipsum dolor </div>
                        <div class="col-text">Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem.</div>
                        <div class="col-subtitle">AG Auto Trading</div>
                    </div>
                </div>
                <div class="blogs__col text-right">
                    <img src="images/blog1.png" alt="Blog">
                </div>
                <div class="blogs__col text-left">
                    <img src="images/blog2.png" alt="Blog">
                </div>
                <div class="blogs__col text-right">
                    <div class="blogs__colcontent">
                        <div class="col-title">Lorem ipsum dolor </div>
                        <div class="col-text">Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem.</div>
                        <div class="col-subtitle">AG Auto Trading</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
