
    <div class="blogs__row">
        <div class="main-title">
            <h3>how to buy cars</h3>
        </div>
        <div class="blog_date">22/07/2022</div>
        <div class="blogs__content">
            <div class="blogs__flex">
                <div class="blogs__image"><img src="images/blog1.png" alt=""></div>
                <div class="blogs--text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit amet labore. Quo, repellendus! Perferendis placeat eos ratione, recusandae reprehenderit quasi sapiente doloribus sint, laudantium voluptatum exercitationem illo, harum quis?</p>
                    <p><strong>set your budget</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur eos quasi nam hic nihil ab commodi, architecto non vitae molestiae, similique delectus ullam quod perferendis repellendus. Necessitatibus recusandae rerum tempora!</p>
                </div>
                <div class="blogs__list">
                    <p><strong>set your budget</strong></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit amet labore. Quo, repellendus! Perferendis placeat eos ratione, recusandae reprehenderit quasi sapiente doloribus sint, laudantium voluptatum exercitationem illo, harum quis?</p>
                    <p><strong>set your budget</strong></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit amet labore. Quo, repellendus! Perferendis placeat eos ratione, recusandae reprehenderit quasi sapiente doloribus sint, laudantium voluptatum exercitationem illo, harum quis?</p>
                    <p><strong>set your budget</strong></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugit amet labore. Quo, repellendus! Perferendis placeat eos ratione, recusandae reprehenderit quasi sapiente doloribus sint, laudantium voluptatum exercitationem illo, harum quis?</p>
                    
                </div>
            </div>
        </div>
    </div>
