<div class="parts__container">
    <div class="parts__search--head">
        <div class="parts__search--title">
            Parts & Accessories
        </div>
    </div>
    <div class="parts__body">
        <div class="parts__body--container">
            <div class="parts__list">
                <div class="parts__section">
                  <div class="parts__section--title">
                    oil & lubricant
                  </div>
                  <div class="parts__section--image">
                    <img src="images/parts-1.png" alt="">
                  </div>
                </div>
                <div class="parts__section">
                    <div class="parts__section--title">
                      brake
                    </div>
                    <div class="parts__section--image">
                      <img src="images/parts-2.png" alt="">
                    </div>
                  </div>
                  <div class="parts__section">
                    <div class="parts__section--title">
                     suspension
                    </div>
                    <div class="parts__section--image">
                      <img src="images/parts-3.png" alt="">
                    </div>
                  </div>
                  <div class="parts__section">
                    <div class="parts__section--title">
                      engine
                    </div>
                    <div class="parts__section--image">
                      <img src="images/parts-4.png" alt="">
                    </div>
                  </div>
                  <div class="parts__section">
                    <div class="parts__section--title">
                     body parts
                    </div>
                    <div class="parts__section--image">
                      <img src="images/parts-5.png" alt="">
                    </div>
                  </div>
                  <div class="parts__section">
                    <div class="parts__section--title">
                      other parts
                    </div>
                    <div class="parts__section--image">
                      <img src="images/parts-6.png" alt="">
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>