<div class="parts__list__container">
    <div class="parts__list--row">
        <div class="parts__search--head">
            <div class="parts__search--title">
                OEM Brand
            </div>
        </div>
            <div class="parts__details--body">
                <div class="parts__details--slider">
                    <a class="prev slickarrow" href="#"><img src="images/prev.png" alt="previous"></a>
                    <a class="next slickarrow" href="#"><img src="images/next.png" alt="next"></a>
                    <div class="parts__details-wrap ">
        
                        <div class="pdtclass">
                            <img src="images/parts-slider1.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/parts-slider2.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/parts-slider3.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/parts-slider1.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/parts-slider2.png" alt="Slider image">
                        </div>
                        <div class="pdtclass">
                            <img src="images/parts-slider3.png" alt="Slider image">
                        </div>
                      
                    </div>
                    
                </div>
                <div class="parts__details--desc">
                    <div class="parts__details--desctitle">
                        <h6>Description</h6>
                    </div>
                    <div class="parts__details--descbody">
                        <p>Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem nesciunt aut. Description here. Lorem ipsum dolor sit amet. Ut dolor culpa non exercitationem.</p>
                    <div class="parts__details--list">
                        <ul>
                            <li><span>brand fitment</span> <span>toyota</span></li>
                            <li><span> origin</span>  <span>japan</span></li>
                            <li><span>category</span><span>oil & lubricants</span></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="parts__details--button">
                    <button class="btn">Inquire Now</button>
                </div>
            </div>
       
    </div>
</div>