<div class="rq__success--container">
    <h4 class="rq__success--maintitle">
        We received your quotation request.
    </h4>
    <div class="rq__success--content">
        <p>Thank you!</p>
        <p>Our team will get back to you soon.</p>
    </div>
    <div class="rq__success--content">
        <p><b>Need furthet assistance?</b></p>
        <p>600540045</p>
        <p><a href="">email-address-here@abc.com</a></p>
    </div>
    <div class="rq__success-btn">
        <button type="button" class="btn btn-orange">Request New Quotation</button>
    </div>
    <a href="/" class="rq__success-back">go to home page</a>
</div>