<div class="rq__tab">
    <div class="rq__main-back main-back">
        <h6><a href=""><i class="icon-angle-left"></i><span>back</span></a></h6>
    </div>
    <div class="rq__tab-wrap">
        <div class="rq__tab--head">
            <div class="rq__tab-headwrap">
                <ul>
                    <li class="section__rqtabs--active"><a href="#tab1">vehicles</a></li>
                    <li><a href="#tab2">parts & accessories</a></li>
                </ul>
            </div>
            <div class="rq__tab--body">
                <div class="rq__tab--bodyWrap" id="tab1">
                    <div class="rq__tab-wrap">
                        <form action="" id="quoteForm" class="quoteForm">
                            <div class="rq__details">
                                <h5 class="rq__tab--title">vehicle details</h5>
                                <div class="rq__tab-container">
                                    <div class="rq__tab--row">
                                        <div class="rq__tab--input rq__tab--cartype">
                                            <label for="types">Car type</label>
                                            <select id="cartype" name="states[]"
                                                class="js-example-basic-single rq__tab--data cartype">
                                                <option value=""></option>
                                                <option value='suv' data-img_src="images/cars/suv.png">suv</option>
                                                <option value='sedan' data-img_src="images/cars/sedan.png">sedan
                                                </option>
                                                <option value='hatchback' data-img_src="images/cars/hatchback.png">
                                                    hatchback</option>
                                                <option value='luxury' data-img_src="images/cars/luxury.png">luxury
                                                </option>
                                                <option value='coupe' data-img_src="images/cars/coupe.png">coupe
                                                </option>
                                                <option value='suv' data-img_src="images/cars/suv.png">suv</option>
                                                <option value='sedan' data-img_src="images/cars/sedan.png">sedan
                                                </option>
                                                <option value='hatchback' data-img_src="images/cars/hatchback.png">
                                                    hatchback</option>
                                                <option value='luxury' data-img_src="images/cars/luxury.png">luxury
                                                </option>
                                                <option value='coupe' data-img_src="images/cars/coupe.png">coupe
                                                </option>
                                            </select>
                                           
                                        </div>
                                        <div class="rq__tab--input rq__tab--brandtype">
                                            <label for="brands">brand</label>
                                            <select id="carbrands" name="brands[]"
                                                class="js-example-basic-multiple rq__tab--data carbrands">
                                                <option value='toyota' >Toyota
                                                </option>
                                                <option value='nissan' >Nissan
                                                </option>
                                                <option value='hyundai' >Hyundai
                                                </option>
                                                <option value='lexus' >lexus
                                                </option>
                                                <option value='bmw' data-img_src="images/brands/bmw.png">BMW</option>
                                                <option value='toyota' data-img_src="images/brands/toyota.png">Toyota
                                                </option>
                                                <option value='nissan' data-img_src="images/brands/nissan.png">Nissan
                                                </option>
                                                <option value='hyundai' data-img_src="images/brands/hyundai.png">Hyundai
                                                </option>
                                                <option value='lexus' data-img_src="images/brands/lexus.png">lexus
                                                </option>
                                                <option value='bmw' data-img_src="images/brands/bmw.png">BMW</option>
                                            </select>
                                         
                                        </div>
                                        <div class="rq__tab--input">
                                            <label for="fname">Model</label>
                                            <select id="model" name="model[]"
                                                class="js-example-basic-single model rq__tab--data">
                                                <optgroup label="Nissan">
                                                    <option value=""></option>
                                                    <option value='suv' data-img_src="images/cars/suv.png">sunny
                                                    </option>
                                                    <option value='sedan' data-img_src="images/cars/sedan.png">altima
                                                    </option>
                                                    <option value='hatchback' data-img_src="images/cars/hatchback.png">
                                                        x-trail</option>
                                                    <option value='luxury' data-img_src="images/cars/luxury.png">patrol
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Toyota">
                                                    <option value=""></option>
                                                    <option value='suv' data-img_src="images/cars/suv.png">sunny
                                                    </option>
                                                    <option value='sedan' data-img_src="images/cars/sedan.png">altima
                                                    </option>
                                                    <option value='hatchback' data-img_src="images/cars/hatchback.png">
                                                        x-trail</option>
                                                    <option value='luxury' data-img_src="images/cars/luxury.png">patrol
                                                    </option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="rq__tab-container">
                                    <div class="rq__tab--row">
                                        <div class="rq__tab--input">
                                            <label for="fname">model variant</label>
                                            <select id="model-varient" name="model[]"
                                                class="js-example-basic-single model rq__tab--data model-varient">
                                                <optgroup label="Nissan">
                                                    <option value=""></option>
                                                    <option value='suv' data-img_src="images/cars/suv.png">sunny
                                                    </option>
                                                    <option value='sedan' data-img_src="images/cars/sedan.png">altima
                                                    </option>
                                                    <option value='hatchback' data-img_src="images/cars/hatchback.png">
                                                        x-trail</option>
                                                    <option value='luxury' data-img_src="images/cars/luxury.png">patrol
                                                    </option>
                                                </optgroup>
                                                <optgroup label="Toyota">
                                                    <option value=""></option>
                                                    <option value='suv' data-img_src="images/cars/suv.png">sunny
                                                    </option>
                                                    <option value='sedan' data-img_src="images/cars/sedan.png">altima
                                                    </option>
                                                    <option value='hatchback' data-img_src="images/cars/hatchback.png">
                                                        x-trail</option>
                                                    <option value='luxury' data-img_src="images/cars/luxury.png">patrol
                                                    </option>
                                                </optgroup>
                                            </select>
                                        </div>
                                        <div class="rq__tab--input rq__tab--inputyear">
                                            <label for="fname">year</label>
                                            <select id="year" class="js-example-basic-single rq__tab--data year">
                                                <option value=""></option>
                                                <option value='2023'>2023</option>
                                                <option value='2022'>2022</option>
                                                <option value='2021'>2021</option>
                                                <option value='2020'>2020</option>
                                            </select>
                                        </div>
                                        <div class="rq__tab--input">
                                            <label for="quantity">Quantity</label>
                                            <input type="text" id="quantity" name="quantity" value=""
                                                class="rq__tab--data">
                                        </div>
                                    </div>
                                </div>
                                <div class="rq__tab-container">
                                    <div class="rq__tab--row">
                                        <div class="rq__tab--input rq__tab--data">
                                            <label for="country">destination country</label>
                                            <select class="js-example-basic-single country rq__tab--data">
                                                <option value=""></option>
                                                <option value='Afghanistan'>Afghanistan</option>
                                                <option value='Albania'>Albania</option>
                                                <option value='Algeria'>Algeria</option>
                                                <option value='Andorra'>Andorra</option>
                                                <option value='Algeria'>Angola</option>
                                                <option value='Andorra'>Anguilla</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- contact details  -->
                            <div class="rq__details">
                                <h5 class="rq__tab--title">contact details</h5>
                                <div class="rq__tab-container">
                                    <div class="rq__tab--row">
                                        <div class="rq__tab--input">
                                            <label for="lname">full name*</label>
                                            <input type="text" id="fname" name="fname" value="" class="rq__tab--data">
                                        </div>
                                        <div class="rq__tab--input">
                                            <label for="lname">email address</label>
                                            <input type="text" id="email" name="email" value="" class="rq__tab--data">
                                        </div>
                                        <div class="rq__tab--input">
                                            <label for="lname">phone number*</label>
                                            <input type="text" id="phone" name="phone" value=""
                                                placeholder="Add your phone number" class="rq__tab--data">
                                            
                                        </div>
                                    </div>
                                    <div class="rq__tab--row">

                                        <div class="rq__tab--textarea">
                                            <label for="lname">message</label>
                                            <textarea rows="4" class="rq__tab--data"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="submit" id="vehicletypes" class="btn btn-orange">send
                                quotation</button>
                        </form>
                    </div>


                </div>

                <div class="rq__tab--bodyWrap" id="tab2">
                    <div class="rq__tab-wrap">
                        <form action="" class="quoteForm">
                            <div class="rq__details">
                                <h5 class="rq__tab--title">Parts & Accessories Details</h5>
                                <div class="rq__tab-container">
                                    <div class="rq__tab--row">
                                        <div class="rq__tab--input">
                                            <label for="fname">Category</label>
                                            <select id="pcategory" name="category[]"
                                                class="js-example-basic-single rq__tab--data category">
                                                <optgroup>
                                                    <option value=""></option>
                                                    <option value='oil' data-img_src="images/parts/oil.png">Oil &
                                                        Lubricants
                                                    </option>
                                                    <option value='brake' data-img_src="images/parts/brake.png">Brake
                                                        parts
                                                    </option>
                                                    <option value='engine' data-img_src="images/parts/engine.png">Engine
                                                        parts</option>
                                                </optgroup>
                                                <optgroup>
                                                    <option value='body' data-img_src="images/parts/body.png">Body parts
                                                    </option>
                                                    <option value='suspension'
                                                        data-img_src="images/parts/suspension.png">
                                                        Suspension parts</option>
                                                    <option value='others' data-img_src="images/parts/others.png">Other
                                                        parts</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                        <div class="rq__tab--input">
                                            <label for="quantity">Quantity</label>
                                            <input type="text" id="pquantity" name="quantity" value=""
                                                class="rq__tab--data">
                                        </div>
                                        <div class="rq__tab--input  ">
                                            <label for="country">destination country</label>
                                            <select class="js-example-basic-single rq__tab--data country" id="pcountry">
                                                <option value=""></option>
                                                <option value='Afghanistan'>Afghanistan</option>
                                                <option value='Albania'>Albania</option>
                                                <option value='Algeria'>Algeria</option>
                                                <option value='Andorra'>Andorra</option>
                                                <option value='Algeria'>Angola</option>
                                                <option value='Andorra'>Anguilla</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- contact details  -->
                            <div class="rq__details">
                                <h5 class="rq__tab--title">contact details</h5>
                                <div class="rq__tab-container">
                                    <div class="rq__tab--row">
                                        <div class="rq__tab--input">
                                            <label for="lname">full name*</label>
                                            <input type="text" id="pname" name="fname" value="" class="rq__tab--data">
                                            
                                        </div>
                                        <div class="rq__tab--input">
                                            <label for="lname">email address*</label>
                                            <input type="text" id="pemail" name="email" value="" class="rq__tab--data">
                                          
                                        </div>
                                        <div class="rq__tab--input">
                                            <label for="lname">phone number*</label>
                                            <input type="text" id="pphone" name="phone" value=""
                                                placeholder="Add your phone number" class="rq__tab--data">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="rq__tab-container">
                                    <div class="rq__tab--row">
                                        <div class="rq__tab--textarea">
                                            <label for="lname">message</label>
                                            <textarea rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <button type="button" id="request-quotationpartsbtn" class="btn btn-orange">send quotation</button>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

</div>